.App {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.515), black),
    url("./Assets/coal-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}
