.App {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.515), black),
    url("./Assets/coal-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: purple;
  padding: 15px 30px;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  border: 1px solid #fff;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:active,
.btn:hover {
  box-shadow: none;
  opacity: 0.8;
}

.mute-unmute {
  position: absolute;
  right: 10px;
  margin: 1rem;
}

.mute-unmute button {
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: -30px;
  padding: 5px 0;
  border-radius: 15px;
  width: 80px;
  background-color: #fff;
  font-size: 10px;
  display: none;
  transition: all 0.3s ease;
}

.mute-unmute button:hover .tooltip {
  display: block;
}
