.circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: none;
  background: teal;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
}

button.active {
  background-color: rgb(51, 145, 199);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
