.circle {
  width: 125px;
  height: 125px;
  border: none;
  background: teal;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  background: url("./Assets/diamond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

button.active {
  filter: grayscale(0);
}
