header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: teal;
  color: #fff;
}

.score {
  display: inline-block;
  width: 40px;
  text-align: right;
  font-size: 1.3rem;
}
