header {
  font-family: "Quantico", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: teal;
  color: #fff;
}

.score-board {
  margin: 0;
}

.score {
  display: inline-block;
  width: 50px;
  text-align: right;
  font-size: 1.3rem;
}
