header {
  position: relative;
  font-family: "Quantico", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: teal;
  color: #fff;
}

.lives {
  margin: 0 1rem;
}

.score-board {
  margin: 0;
}

.score {
  display: inline-block;
  width: 50px;
  text-align: right;
  font-size: 1.3rem;
}

.mute-btns {
  position: absolute;
  bottom: -60px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mute-btns button {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 0.1rem;
  cursor: pointer;
}
