@import url("https://fonts.googleapis.com/css2?family=Quantico&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(241, 190, 238), rgb(243, 190, 159));
  background-size: cover;
}
