.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-score {
  background-color: #fff;
  padding: 1.5rem;
  max-width: 600px;
  min-width: 350px;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

h3 {
  margin-bottom: 1rem;
}

.btns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reload-btn,
.cancel-btn {
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  color: #fff;
  margin: 0.5rem 0.5rem 0 0;
  border: none;
  cursor: pointer;
}

.reload-btn {
  background-color: red;
  position: relative;
}

.reload-btn .tooltip-msg {
  display: none;
  position: absolute;
  width: 250px;
  padding: 0.5rem;
  background-color: #f45d5d;
  color: #ffff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
}

.reload-btn:hover .tooltip-msg {
  right: -100%;
  display: block;
  top: -200%;
  left: 0;
}

.cancel-btn {
  background-color: teal;
}
